# --- IDEs y Editores ---
.idea/
.vscode/
*.swp
*.iml
.classpath
.project
.settings/

# --- Compilación de Java (Para lo que está dentro de FastFoodESI) ---
target/
build/
bin/
*.class

# --- Logs y Sistema Operativo ---
*.log
.DS_Store
Thumbs.db

# --- Archivos de Spring Boot ---
HELP.md

# Ignorar archivos de base de datos H2
*.db
# --- Base de Datos H2 local ---
*.mv.db
*.trace.db
*.lock.db
/data/*.db

# --- Vaadin Frontend ---
node_modules/
src/main/frontend/generated/
package-lock.json
webpack.generated.js

# --- Datos locales ---
data/