# Ignorar carpetas de build de Maven
target/

# Ignorar archivos de IDE (como .vscode que vi en tu captura)
.vscode/
.idea/

# Ignorar logs
*.log

# Ignorar archivos de configuración de Eclipse
.project
.classpath
.settings/


# Ignorar archivos de base de datos H2
*.db
*.mv.db
*.trace.db
*.lock.db
/data/*.db

# Ignorar archivos generados por Vaadin
src/main/frontend/generated/

# Ignorar la carpeta de datos de la BBDD
data/